# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
# https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/
df["date"] = pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [4]:
# Set the date column as the DataFrame index
#df.set_index("date", inplace=True)
#df.head()

# Get an error in the filter for months when setting the index

### Compare June and December data across all years

In [5]:
# Filter data for desired months
june = df[df["date"].dt.month == 6]
june.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [6]:
#june.set_index("date", inplace=True)
#june.head()

In [7]:
# Filter data for desired months
december = df[df["date"].dt.month == 12]
december.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [8]:
december.set_index("date", inplace=True)
december.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [9]:
# Identify the average temperature for June
june_avetemp=june["tobs"].mean()
june_avetemp

74.94411764705882

In [10]:
# Identify the average temperature for December
december_avetemp=december["tobs"].mean()
december_avetemp

71.04152933421226

In [11]:
# Create collections of temperature data by using list comprehension
# Class lecture 09-Par_Emoji, PLotting

june_list = [temp for temp in june.tobs]
#june_list

december_list = [temp for temp in december.tobs]
#december_list

In [12]:
# Run paired t-test
stats.ttest_ind(june_list, december_list)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The larger the t-value, the more difference there is between the groups.

The low p-value indicates the data did not occur by chance. The data is valid.

Null Hypothesis: Temperatures in Hawaii in June and December have no statistically significant difference.

Reject the Null Hypothesis

There is a statistically significant difference in the temperatures in June and December in Hawaii.